/node_modules/
/build/
/lib/
/dist/
/docs/
.idea/*

.DS_Store
coverage
*.log
out.txt

# API keys and secrets
.env

# ignore nhost metadata export files
# note: must hand-edit hasura/metadata/databases/default/tables/tables.yaml
/hasura/metadata/databases/default/tables/auth*
/hasura/metadata/databases/default/tables/storage*

# containers
data/
